:root{
    --mount-meadow: #1bbc9c;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition:all 0.5s ease-in-out;
}

*{
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0;
    margin: 0;
}

.popup#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../assets/bg.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    flex-direction: column;
    justify-content: stretch;
    padding: 0;
}

.header .navbar{
    background-color: #fff;
    height: auto;
    width: 100%;
    transition: var(--transition);
}

.header .navbar a{
    margin-right: 100px;
    text-decoration: none;
    cursor: pointer;
    color: var(--night-rider);
    font-size: 20px;
    font-weight: 200;
}

.header .navbar a:hover{
    color: var(--mount-meadow);
}

.header .navbar .title{
    color: var(--night-rider);
    font-weight: 300;
    margin-left: 30px;
    display: flex;
}

.header .navbar img{
    height: 30px;
    width: 35px;
    padding-right: 3px;
    justify-content: center;
}

.header .content-cen{
    text-align: center;
}

.header .content-cen .brand{
    margin-top: 15%;
}

.header .content-cen button{
    margin-top: 30px;
    background: transparent;
    color: var(--white-smoke);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid var(--white-smoke);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 300;
}

.header .content-cen button:hover{
    background: var(--mount-meadow);
}

.footer{
    text-align: center;
    background: var(--black);
    color: var(--white-smoke);
    padding: 2rem 0;
    height: 50vh;
}

.footer .text{
    opacity: 0.8;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}

.footer-links a{
    color: var(--white-smoke);
    opacity: 0.8;
    width: 30px;
    height: 30px;
    margin: 0 0.4rem;
    border-radius: 50%;
    transition: var(--transition);
}

.footer-links a:hover{
    background: var(--mount-meadow);
}

